* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* farver */
:root {
  --primary: #f5f4d8;
  --secondary: #454b29;
  --tertiary: #eeebbd;
  --accent: #76813d;
}

/* fonte */

h1 {
  font-family: "Poiret One";
  color: var(--secondary);
  font-size: 5rem;
  font-weight: 100;
}

h2 {
  font-family: "Poiret One";
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 100;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  max-width: 60ch;
}

li {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  list-style: none;
  line-height: 2rem;
}
