---
import meImage from '../assets/me.png';
---

<div class="grid1_1">
<div>
<h2>INTRODUKTION</h2>
<p>Hej, mit navn er Bjørk, jeg er multimediedesignstuderende og leder efter en praktikplads. Til daglig læser jeg Multimediedesign på EK (fka KEA), og er lige nu i gang med mit 3. semester, som jeg har valgt at læse på Napier University i Edinburgh. 
<br><br>
Som multimediedesigner vil jeg beskrive mig selv som nysgerrig, sansende og detaljeorienteret. Min primære interesse indenfor faget er grafisk design og visuel kommunikation. Jeg synes det spændende at følge med indenfor et fag hvor trends og tendenser er i konstant udvikling, og jeg glæder mig til at opleve hvordan en hverdag med grafisk design kan se ud i praksis. </p>
</div>

<div class="box_1">
<h3>KONTAKT</h3>
<li>Mail: bjhu0001@stud.ek.dk</li>
<li>Tlf: +45 31777616</li>
<li>LinkedIn</li>
</div>
</div>


<div class="grid1_1">
<div>
<img src={meImage.src} alt="meimage">
</div>

<div class="box_1">
    <h3>VÆRKTØJER</h3>
<br>
    <li>Illustrator</li>
    <li>Photoshop</li>
    <li>After Effects</li>
    <li>Premiere Pro</li>
    <li>Figma</li>
    <li>Audition</li>
<br>
    <li>VSCode</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>GitHub</li>
    <li>Unity 3D</li>
    <li>Astro</li>
<br>
    <li>UX/UI</li>
    <li>Prototyping</li>
    <li>User testing</li>
    <li>SEO</li>
</div>
</div>



<style>

img {
    max-width: 500px;
}

.box_1 {
    padding: 4rem;
}

</style>