---
import bager from '../assets/bager.png';
import bareen from '../assets/bareen.png';
import logo from '../assets/logo.png';
---

<h2>PROJEKTER</h2>
<div class="grid1_1">
<img src={bareen.src} alt="Bareen">
<div class="box_2">
<p>BareenxDansevand, 2. semester, KEA <br> <br>
Case med Bareen som kunde i samarbejde med valgfrit brand.</p>
</div>
</div>

<div class="grid1_1">
<img src={bager.src} alt="Bager">
<div class="box_2">
<p>Bagerdygtigt designkoncept, 2. semester, KEA <br>
Case med Bagerdygtigt som kunde.</p>
</div>
</div>

<div class="grid1_1">
<img src={logo.src} alt="Logo">
<div class="box_2">
<p>Logo til egen hjemmeside, 1. semester, KEA.</p>
</div>
</div>



<style>
    img {
        max-width: 400px;
    }

    .box_2 {
    padding-top: 6rem;
    max-width: 40ch;
    }
</style>